# hidden files
*.swp
*~
.cproject
.project

# folders
configDir
build_*

# old
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
lalsuite-*.tar.gz
lalsuite.spec
libtool

# other, may be added in the future
lal/.settings/
lalapps/src/calibration/lalapps_makecalframe
lalapps/src/inspiral/lalapps_inspiral_ssipe
lalapps/src/inspiral/posterior/lalapps_coherence_test
lalapps/src/inspiral/posterior/lalapps_combine_evidence
lalapps/src/inspiral/posterior/lalapps_merge_nested_sampling_runs
lalapps/src/inspiral/posterior/lalapps_nest_pipe
lalapps/src/inspiral/posterior/python_config.sed
lalapps/src/pulsar/FDS_binary/lalapps_CombineBayesianResults
lalapps/src/pulsar/FDS_binary/lalapps_HJDtoGPSSSB
lalapps/src/pulsar/FDS_binary/lalapps_SemiCoherentBinary
lalapps/src/string/lalapps_StringAddFrame
lalinspiral/.settings/
lalinspiral/main.c
lalinspiral/src/integrator.patch
lalmetaio/.settings/
lalmetaio/main.c
TAGS
auto/
