Source: python-pylal
Section: python
Priority: optional
Maintainer: Jameson Rollins <jameson.rollins@ligo.org>
Build-Depends:
 pkg-config,
 python,
 libframe-dev,
 lal-dev,
 lalburst-dev,
 lalframe-dev,
 lalinspiral-dev,
 lalmetaio-dev,
 lalpulsar-dev,
 lalstochastic-dev,
 debhelper (>= 5)
Standards-Version: 3.9.2

Package: python-pylal
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Recommends: lalapps, python-glue
Description: Python LAL add-ons
 PyLAL is a collection of utilities for plotting the output files from LSC
 analysis pipelines.
