#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)


ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

PACKAGE = python-pylal

PREFIX = /opt/lscsoft/pylal
FRAMEPREFIX = /opt/lscsoft/libframe
LALPREFIX = /opt/lscsoft/lal


configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

#	$(MAKE)
# moved to install
#	PKG_CONFIG_PATH=$(LALPREFIX)/lib/pkgconfig \
#	python -d setup.py build

	touch $@


clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
#	-$(MAKE) clean
	- \
	PYTHON="python$$v"                                                               \
	CFLAGS="$(CFLAGS)"                                                       \
	PKG_CONFIG_PATH=$(FRAMEPREFIX)/lib/pkgconfig:$(LALPREFIX)/lib/pkgconfig \
	python2.4 setup.py clean --all
	-rm -rf build
	-rm -f etc/pylal-user-env.*sh
	
	dh_clean 


install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/*
	mkdir -p debian/$(PACKAGE)/$(PREFIX)/share/doc/pylal
	set -e;                                                                                  \
	for v in 2.4 ; do                                                                    \
		PYTHON="python$$v"                                                               \
		CFLAGS="$(CFLAGS)"                                                       \
		PKG_CONFIG_PATH=$(FRAMEPREFIX)/lib/pkgconfig:$(LALPREFIX)/lib/pkgconfig \
		python$$v setup.py build;                                                        \
		PYTHON="python$$v"                                                               \
		CFLAGS=$(CFLAGS)                                                         \
		PKG_CONFIG_PATH=$(FRAMEPREFIX)/lib/pkgconfig:$(LALPREFIX)/lib/pkgconfig \
		python setup.py install                                                  \
		    --root=$(CURDIR)/debian/$(PACKAGE)                                   \
		    --prefix=$(PREFIX)                                                   \
		    --record=debian/$(PACKAGE)/$(PREFIX)/share/doc/pylal/INSTALLED_FILES;   \
		ls -lR $(CURDIR)/debian/$(PACKAGE)/$(PREFIX);                                    \
		PYTHON="python$$v"                                                               \
		CFLAGS="$(CFLAGS)"                                                       \
		PKG_CONFIG_PATH=$(FRAMEPREFIX)/lib/pkgconfig:$(LALPREFIX)/lib/pkgconfig \
		python$$v setup.py clean --all;                                                  \
	done
	set -e;                                                                                  \
	for i in `find debian -mindepth 2 -type f ! -perm 755`; do                               \
		if head -n1 $$i | grep -q '^#!' ; then                                           \
			chmod +x $$i;                                                            \
		fi;                                                                              \
	done
	set -e;                                                                                  \
	for i in `find debian/$(PACKAGE)/$(PREFIX)/{bin,cgi} -type f`; do                        \
		echo $$i;                                                                        \
		if head -n1 $$i | grep -q '^#!.*python$$' ; then                                 \
			sed -i '1s/python$$/python2.4/' $$i;                                     \
		fi;                                                                              \
	done


binary: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress 
	dh_fixperms
#	dh_perl
	dh_makeshlibs
	dh_installdeb
	LD_LIBRARY_PATH=$(PREFIX)/lib dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: build clean binary install configure
