#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PACKAGE = python-glue

PREFIX = /opt/lscsoft/glue

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

#	$(MAKE)
# moved to install

	#python setup.py build

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

#	-$(MAKE) clean
	-python2.4 setup.py clean --all
	-rm -rf build
	
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/$(PACKAGE).
#	$(MAKE) DESTDIR=$(CURDIR)/debian/$(PACKAGE) install
	mkdir -p $(CURDIR)/debian/$(PACKAGE)/$(PREFIX)/share/doc/glue
	set -e; \
	for v in 2.4 2.5; do                                             \
	        CFLAGS="$(CFLAGS)"                                  \
		python$$v setup.py build;                                \
	        CFLAGS="$(CFLAGS)"                                  \
		python$$v setup.py install                          \
	    	    --root=$(CURDIR)/debian/$(PACKAGE)              \
		    --prefix=$(PREFIX)                              \
		    --record=$(CURDIR)/debian/$(PACKAGE)/$(PREFIX)/share/doc/glue/INSTALLED_FILES; \
		ls -lR $(CURDIR)/debian/$(PACKAGE)/$(PREFIX);            \
		python$$v setup.py clean --all;                          \
	done
#	python setup.py install \
#	    --root=$(CURDIR)/debian/$(PACKAGE) \
#	    --prefix=$(PREFIX) \
#	    --record=$(CURDIR)/debian/$(PACKAGE)/$(PREFIX)/share/doc/glue/INSTALLED_FILES
	set -e; \
	for i in `find debian -mindepth 2 -type f ! -perm 755`; do       \
	        if head -n1 $$i | grep -q '^#!' ; then                   \
	                chmod +x $$i;                                    \
	        fi ;                                                     \
	done
	set -e; \
	for i in `find debian/$(PACKAGE)/$(PREFIX)/bin -type f`; do      \
		echo $$i;                                                \
		if head -n1 $$i | grep -q '^#!.*python2\..' ; then         \
			sed -i '1s/python2\../python/' $$i;             \
		fi ;                                                     \
	done
	cp -p debian/glue-user-env.* $(CURDIR)/debian/$(PACKAGE)/$(PREFIX)/etc/

binary: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
	dh_makeshlibs
	dh_installdeb
	LD_LIBRARY_PATH=$(PREFIX)/lib dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: build clean binary install configure
