Source: ligo-common
Section: python
Priority: extra
Maintainer: Brian Moe <brian.moe@ligo.org>
Build-Depends: python, python-setuptools, debhelper (>= 9), dh-python
Standards-Version: 3.9.8
X-Python-Version: >= 2.7

Package: python-ligo-common
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Common package for LIGO Python libs
 Common packackage for LIGO Python libraries
