include LICENSE README MANIFEST.in
include glue/ligolw/*.c
include glue/ligolw/*.h
include misc/*.py
include src/conf/db2/*
include src/conf/q_replication/*
include src/conf/mysql/*
include src/segments/*.c
include src/segments/*.h
include man/man1/*
include etc/*
include test/*
