Source: ligo-lars
Maintainer: Brian Moe <brian.moe@ligo.org>
Section: python
Priority: optional
Build-Depends: debhelper (>= 7), python-all-dev
Standards-Version: 3.8.4
X-Python-Version: >=2.6

Package: python-ligo-lars
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-m2crypto, python-glue-segments
Provides: ${python:Provides}
Description: LIGO Archiving Service
 Lars is a protype for an archival service for LIGO

